/* .display-all-books {
  display: flex;
  width: 88%;
  margin-top: 7%;
  margin-left: 6%;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex: 1 0 auto;
} */
.display-all-books {
  display: grid;
  width: 88%;
  margin-top: 7%;
  margin-left: 6%;
  grid-template-columns: repeat(auto-fill, 20%);
  justify-content: space-between;
  grid-gap: 1%;
}
