.SearchBox1 {
  width: 100%;
}

.Appbarclass {
  /* border: 4px solid yellow; */
}
.ToolBarClass {
  padding: 0 !important;
  /* border: 2px solid black; */
}

.ImageClass {
  position: absolute;
  display: flex;
  align-items: center;
  margin-left: 6%;
  height: 65%;
}
.searchInput {
  width: 20%;
}
